.btn-main{
    background-color: #F14902;    /* Strong orange */
    color: #ffffff;               /* White text */
    border: none;                 /* Remove border */
    border-radius: 999px;         /* Pill shape */
    padding: 10px 24px;           /*    Button size */
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: transform 0.2s ease;
    display: inline-block;
}

.btn-main:hover {
    transform: scale(1.05);

    color: #ffffff;/* Slight grow on hover */
    border: 3px solid #614335; /* Optional border on hover */
}
